<div class="d-flex">
  <div class="col-md-6 pl-0">
    <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model" (dateChanged)="onDateChanged($event)"></my-date-picker>
  </div>
  <div class="form-row col-md-6 pr-0">
    <div class="form-group col-4">
      <select class="form-control" [(ngModel)]="hour" (change)="onTimeChange()" [disabled]="readonly">
        <option selected>00 时</option>
        <ng-container *ngFor="let et of hourValue">
          <option>{{ et }}</option>
        </ng-container>
      </select>
    </div>
    <div class="form-group col-4">
      <select class="form-control" [(ngModel)]="min" (change)="onTimeChange()" [disabled]="readonly">
        <option selected>00 分</option>
        <ng-container *ngFor="let et of minValue">
          <option>{{ et }}</option>
        </ng-container>
      </select>
    </div>
    <div class="form-group col-4">
      <select class="form-control" [(ngModel)]="sec" (change)="onTimeChange()" [disabled]="readonly">
        <option selected>00 秒</option>
        <ng-container *ngFor="let et of secValue">
          <option>{{ et }}</option>
        </ng-container>
      </select>
    </div>
  </div>
</div>