
<div class="c-content-inner">

    <div class="row">
        <div class="col-md-12">
            <p class="c-line-title">券核销记录</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center c-w-1">序号</th>
                        <th class="text-center c-w-2">券ID</th>
                        <th class="text-center c-w-2">券类型</th>
                        <th class="text-center c-w-2">使用人</th>
                        <th class="text-center c-w-2">核销人</th>
                        <th class="text-center c-w-2">核销时间</th>
                        <!-- <th class="text-center c-w-2">操作</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of canclelist.content;let i = index">
                    <td class="text-center" style="display:table-cell; vertical-align:middle">{{i+1}}</td>
                    <td class="text-center" style="display:table-cell; vertical-align:middle">{{data.couponObj.code}}</td>
                    <td class="text-center" style="display:table-cell; vertical-align:middle">{{data.couponObj.coupon.content}}</td>
                    <td class="text-center" style="display:table-cell; vertical-align:middle">{{data.own}}</td>
                    <td class="text-center" style="display:table-cell; vertical-align:middle">{{data.seller.name}}</td>
                    <td class="text-center" style="display:table-cell; vertical-align:middle">{{data.date}}</td>

                    <!-- <td class="text-center">{{data.intro}}</td> -->
                    <!-- <td class="text-center">
                        <button class="btn btn-info btn-sm" ><i class="fa fa-search fa-fw"></i> 查看</button>
                        <button class="btn btn-success btn-sm"><i class="fa fa-pencil fa-fw"></i> 编辑</button>
                        <button class="btn btn-danger btn-sm" type="button" (click)="deletenews(data.id)">删除</button>
                    </td> -->
                    </tr>
                </tbody>
            </table>
            <!-- <c-http-pagination #hp [url]="url" method="post" [param]="param" [pageList]="pageList" (onDataChanged)="onDataChanged($event)"></c-http-pagination> -->
        </div>
    </div>
</div>
    